<li>
  <%= link_to "View topic", topic %>
  <div class="title"> <%= topic.title.upcase %></div>
  <span class="region"><%= topic.region %></span>
  <span class="school_type"><%= topic.school_type %></span>
  <span class="school_name"><%= topic.school_name %></span>
  <span class="content"><%= topic.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(topic.created_at) %> ago by: &nbsp;
  </span>
  <span class="users"><%= topic.user.name%></span>
</li>